@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Trade+Winds&display=swap');

/* color palette */
:root {
	--colour-palette-white: #efefef;
	--colour-palette-white-soft: #d7d7d7;
	--colour-palette-white-mute: #cccccc;

	--colour-palette-black: #181818;
	--colour-palette-black-soft: #222222;
	--colour-palette-black-mute: #282828;

	--colour-palette-indigo: #2c3e50;
	--colour-palette-green: #01724c;

	--colour-palette-divider-1: var(--colour-palette-green);
	--colour-palette-divider-2: hsl(from var(--colour-palette-green) h s calc(l - 10));

	--colour-palette-text-1: var(--colour-palette-white);
	--colour-palette-text-2: rgba(225, 245, 225, 0.64);
}

/* semantic color variables for this project */
:root {
	--color-background: var(--colour-palette-black);
	--color-background-soft: var(--colour-palette-black-soft);
	--color-background-mute: var(--colour-palette-black-mute);

	--color-button-bg: var(--colour-palette-black-mute);
	--color-button-bg-hover: var(--colour-palette-black);

	--color-border: var(--colour-palette-divider-2);
	--color-border-hover: var(--colour-palette-divider-1);

	--color-heading: var(--colour-palette-green);
	--color-text: var(--colour-palette-white-soft);
	--color-text-muted: var(--colour-palette-white-mute);
	--color-text-grey: var(--colour-palette-text-2);
	--color-text-greyer: hsl(from var(--colour-palette-text-2) h s calc(l - 10));
	--color-text-greyest: hsl(from var(--colour-palette-text-2) h calc(s - 20) calc(l - 20));

	--color-link: var(--colour-palette-green);
	--color-link-active: hsl(from var(--color-link) h s calc(l + 10));

	--color-glow: #2dffc4b3;
	--color-glow-soft: #38ebb8b3;
	--color-glow-mute: #2ead808a;
}

/* layout variables */
:root {
	--gap: 2rem;
	--border-radius: 1rem;
	--border-width: 0.125rem;
	--button-padding: 1rem 1.5rem;
}

/* font styles */
:root {
	--font-family-header: "Trade Winds", serif;
	--font-weight-header: 400;
	--font-style-header: normal;
	
	--font-family-default: "Quintessential", serif;
	--font-weight-default: 400;
	--font-style-default: normal;
	--line-height-default: 1.15;
	
	--font-size-header: 2rem;

	--font-size-title: 2.25rem;
	--margin-bottom-title: 1rem;

	--font-size-subtitle: 1.75rem;
	--margin-bottom-subtitle: 1rem;

	--font-size-body: 1.25rem;
	--margin-bottom-body: 1rem;

	--font-size-footer: 1.125rem;
	--line-height-footer: 1;

	--font-size-button: 1.75rem;
	--line-height-button: 1;
}

/* animation for recruited/rejected pirate name */
@keyframes approach-and-sway {
	0% {
		transform: scale(0.7) translate(66px, 0) rotate(0deg) skew(0deg, 0deg);
		opacity: 0.55;
	}
	18% {
		transform: scale(0.96) translate(23px, -5px) rotate(-3deg) skew(-1deg, 1deg);
		opacity: 0.92;
	}
	34% {
		transform: scale(1.03) translate(46px, 5px) rotate(4deg) skew(2deg, -1deg);
		opacity: 0.97;
	}
	48% {
		transform: scale(0.98) translate(14px, -2px) rotate(-2deg) skew(-1.5deg, 0.8deg);
		opacity: 0.985;
	}
	62% {
		transform: scale(1.02) translate(11px, 4px) rotate(2deg) skew(1deg, -0.8deg);
		opacity: 0.993;
	}
	76% {
		transform: scale(1) translate(8px, -1px) rotate(-1deg) skew(-0.6deg, 0.4deg);
		opacity: 0.998;
	}
	90% {
		transform: scale(0.995) translate(-1px, 1px) rotate(0.6deg) skew(0.3deg, -0.2deg);
		opacity: 0.999;
	}
	100% {
		transform: scale(1) translate(0, 0) rotate(0deg) skew(0deg, 0deg);
		opacity: 1;
	}
}
