@import 'tailwindcss';

/* color palette from <https://github.com/vuejs/theme> */
:root {
	--colour-palette-white: #ffffff;
	--colour-palette-white-soft: #f8f8f8;
	--colour-palette-white-mute: #f2f2f2;

	--colour-palette-black: #181818;
	--colour-palette-black-soft: #222222;
	--colour-palette-black-mute: #282828;

	--colour-palette-indigo: #2c3e50;
	--colour-palette-green: #00bd7e;

	--colour-palette-divider-light-1: rgba(60, 60, 60, 0.29);
	--colour-palette-divider-light-2: rgba(60, 60, 60, 0.12);
	--colour-palette-divider-dark-1: rgba(84, 84, 84, 0.65);
	--colour-palette-divider-dark-2: rgba(84, 84, 84, 0.48);

	--colour-palette-text-light-1: var(--colour-palette-indigo);
	--colour-palette-text-light-2: rgba(60, 60, 60, 0.66);
	--colour-palette-text-dark-1: var(--colour-palette-white);
	--colour-palette-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
	--color-background: var(--colour-palette-white);
	--color-background-soft: var(--colour-palette-white-soft);
	--color-background-mute: var(--colour-palette-white-mute);

	--color-border: var(--colour-palette-divider-light-2);
	--color-border-hover: var(--colour-palette-divider-light-1);

	--color-heading: var(--colour-palette-text-light-1);
	--color-text: var(--colour-palette-text-light-1);

	--color-link: var(--colour-palette-green);
	--color-link-active: hsl(from var(--color-link) h s calc(l - 10));

	--gap: 2rem;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background);
	transition:
		color 0.5s,
		background-color 0.5s;
	line-height: 1.6;
	font-family:
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
