@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Trade+Winds&display=swap');
@import 'tailwindcss';

/* color palette from <https://github.com/vuejs/theme> */
:root {
	--colour-palette-white: #efefef;
	--colour-palette-white-soft: #d7d7d7;
	--colour-palette-white-mute: #cccccc;

	--colour-palette-black: #181818;
	--colour-palette-black-soft: #222222;
	--colour-palette-black-mute: #282828;

	--colour-palette-indigo: #2c3e50;
	--colour-palette-green: #01724c;

	--colour-palette-divider-1: var(--colour-palette-green);
	--colour-palette-divider-2: hsl(from var(--colour-palette-green) h s calc(l - 10));

	--colour-palette-text-1: var(--colour-palette-white);
	--colour-palette-text-2: rgba(225, 245, 225, 0.64);
}

/* semantic color variables for this project */
:root {
	--color-background: var(--colour-palette-black);
	--color-background-soft: var(--colour-palette-black-soft);
	--color-background-mute: var(--colour-palette-black-mute);

	--color-border: var(--colour-palette-divider-2);
	--color-border-hover: var(--colour-palette-divider-1);

	--color-heading: var(--colour-palette-green);
	--color-text: var(--colour-palette-white-soft);
	--color-text-muted: var(--colour-palette-white-mute);
	--color-text-grey: var(--colour-palette-text-2);
	--color-text-greyer: hsl(from var(--colour-palette-text-2) h s calc(l - 10));
	--color-text-greyest: hsl(from var(--colour-palette-text-2) h calc(s - 20) calc(l - 20));

	--color-link: var(--colour-palette-green);
	--color-link-active: hsl(from var(--color-link) h s calc(l + 10));

	--color-glow: #2dffc4b3;

	--layout-gap: 2rem;

	--layout-border-width: 0.125rem;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background-color: var(--color-background);
	transition:
		color 0.5s,
		background-color 0.5s;
	line-height: 1.6;
	font-family: 'Quintessential', serif;
	font-weight: 400;
	font-style: normal;
	font-size: clamp(14px, 5vw, 32px);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
