@import './preflight.css';
@import './base.css';

.app {
	max-width: 1024px;
	margin: 1rem;
	padding: 2rem;
	font-weight: normal;
	border: var(--layout-border-width) solid var(--color-border);
	border-radius: 1rem;
	background-color: var(--color-background-mute);

	box-shadow: 0 0 12rem 2rem var(--color-glow);
}

a {
	text-decoration: none;
	color: var(--color-link);
	transition: 0.4s;
}

svg {
	display: block;
	vertical-align: middle;
}

@media (hover: hover) {
	a:hover {
		color: var(--color-link-active);
	}
}

@media (min-width: 768px) {
	body {
		display: flex;
		place-items: center;
		justify-content: center;
	}

	.app {
		padding: 2rem 4rem 0;
		width: 100%;
	}
}
